{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}

        <!-- main-area -->
        <main>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content text-center">
                                <h2>Blog <span>Home</span></h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'website:index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog Home</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area primary-bg pt-120 pb-175">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            {% for post in posts %}
                            <div class="blog-list-post">
                                <div class="blog-list-post-thumb">
                                    <a href="blog-details.html"><img src="{{post.image.url}}" alt=""></a>
                                </div>
                                <div class="blog-list-post-content">
                                    <div class="blog-list-post-tag mb-25">
                                        {% for cat in post.category.all %}
                                        <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>
                                        {% endfor %}
                                    </div>
                                    <h2><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h2>
                                    <div class="blog-meta">
                                        <ul>
                                            <li>bY <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author}}</a> / {{post.published_date|date:"d M Y"}} <a>/  Views: {{post.counted_views}}</a></li>
                                        </ul>
                                    </div>
                                    <p>{{post.content}}</p>
                                </div>
                                <div class="blog-list-post-bottom">
                                    <ul>
                                        <li><a href="{% url 'blog:single' pid=post.id %}">more reading<i class="fas fa-angle-double-right"></i></a></li>
                                        <li>
                                            <span>SHARE :</span>
                                            <div class="blog-post-share">
                                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                                <a href="#"><i class="fab fa-twitter"></i></a>
                                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="pagination-wrap mt-60">
                                <ul>
                                    {% if posts.has_previous %}
        
                                    <li><a href="?page={{ posts.previous_page_number }}">Previous</a></li>
                                    {% endif %}
                                    {% for i in posts.paginator.page_range %}
                                    {% if posts.number == i %}
                                    <li><a href="?page={{i}}">{{i}}</a></li>
                                    {% else %}
                                    <li><a href="?page={{i}}">{{i}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% if posts.has_next %}
                                    <li><a href="?page={{ posts.next_page_number }}">Next</a></li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <aside class="blog-sidebar">
                                {% include 'blog/blog-author.html' %}
                                {% include 'blog/blog-search.html' %}

                                {% post_categories %}
                                {% latest_posts %}
                            
                            </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->

        </main>
        <!-- main-area-end -->



{% endblock %}
</html>
