{% load humanize %}
<div class="widget mb-45">
    <div class="sidebar-widget-title mb-25">
        <h4>Recent <span>post</span></h4>
    </div>
    
    <div class="rc-post-list">
        <ul>
            {% for post in posts %}
            <li>
                
                <div class="rc-post-thumb">
                    <a href="{% url 'blog:single' pid=post.id %}"><img src="{{post.image.url}}" alt=""></a>
                </div>
                <div class="rc-post-content">
                    <h5><a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a></h5>
                    <span>{{post.published_date|naturaltime}}</span>
                </div>
                
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
